<form class="mt-5" (ngSubmit)="creerAbsence()" #f="ngForm">
    
    <div class="form-group">
    <!---------------------------- DATE DE DEBUT -------------------------->
      <label for="datePremierJourAbsence">Date de debut</label>
      <input type="date" class="form-control" id="datePremierJourAbsence" name="datePremierJourAbsence" placeholder="" [(ngModel)]="absence.datePremierJourAbsence" #champ1="ngModel">
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="champ1.dirty && checkerDateFormVue() === false">
        <span>Votre date de début doit être à J+2.</span>
    </div>
     <!---------------------------- !DATE DE DEBUT! -------------------------->


    <!---------------------------- DATE DE FIN -------------------------->
    <div class="form-group">
        <label for="dateDernierJourAbsence">Date de fin</label>
        <input type="date" class="form-control" id="dateDernierJourAbsence" name="dateDernierJourAbsence" placeholder="" [(ngModel)]="absence.dateDernierJourAbsence" #champ2="ngModel">
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="champ2.dirty && checkEcartDateFin() === false">
        <span>Votre dernier jour d'absence ne peut pas être avant votre premier jour d'absence</span>
    </div>
     <!---------------------------- !DATE DE FIN! -------------------------->


    <div class="form-group">
        <label for="typeConge">Type de congé </label>

            <select name="typeConge" id="typeConge"  [(ngModel)]="absence.typeConge" class="form-control" #champ3="ngModel">
                <option value="CONGE_PAYE">Congés payés</option>
                <option value="RTT"> RTT </option>
                <option value="JOUR_FERIE"> Jour Ferié</option>
                <option value="CONGE_SANS_SOLDE"> Congé sans solde </option>
            </select>

    </div>

    <div class="form-group">
        <label for="motif">Motif de l'absence</label>
        <div>
            <input type="text" class="form-control" id="motif"  name="motif" placeholder="Facultatif" [(ngModel)]="absence.commentaireAbsence" #champ4="ngModel" 
           [required]="checkStatus()">
        </div>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="champ3.dirty && champ4.invalid">>
        <span>Le champ motif doit être rempli</span>
    </div>

    <button type="submit" class="btn btn-primary">Demander cette absence</button>
</form>