<div class="row">
    <div class="buttonsYears offset-4">
        <button (click)="lastYear()" class="btn btn-danger">
            <span class="fc-icon fc-icon-chevron-left"></span>
            <span class="fc-icon fc-icon-chevron-left"></span>
        </button>
        <button (click)="nextYear()" class="btn btn-primary">
            <span class="fc-icon fc-icon-chevron-right"></span>
            <span class="fc-icon fc-icon-chevron-right"></span>
        </button>
    </div>
</div>


<full-calendar #calendar class="col-8 m-auto" [options]="calendarOptions"></full-calendar>
