<!-- <span style="font-size: 3em; color: Tomato;">
   <a (click)="retour()"><fa-icon [icon]="faWindowClose"></fa-icon></a> 
</span> -->



<form class="mt-5" (ngSubmit)=" modeModification ? modifierAbsence() : creerAbsence() " #f="ngForm">
    
    <div class="form-group">
    <!---------------------------- DATE DE DEBUT -------------------------->
      <label for="datePremierJourAbsence">Date de debut</label>
      <input type="date" class="form-control" id="datePremierJourAbsence" name="datePremierJourAbsence" placeholder="" [(ngModel)]="absenceForm.datePremierJourAbsence" #champ1="ngModel">
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="champ1.dirty && checkerDateFormVue() === false">
        <span>Votre date de début doit être à J+2.</span>
    </div>
     <!---------------------------- !DATE DE DEBUT! -------------------------->


    <!---------------------------- DATE DE FIN -------------------------->
    <div class="form-group">
        <label for="dateDernierJourAbsence">Date de fin</label>
        <input type="date" class="form-control" id="dateDernierJourAbsence" name="dateDernierJourAbsence" [(ngModel)]="absenceForm.dateDernierJourAbsence" #champ2="ngModel">
    </div>
     <!---------------------------- !DATE DE FIN! -------------------------->


    <div class="form-group">
        <label for="typeConge">Type de congé </label>

            <select name="typeConge" id="typeConge"  [(ngModel)]="absenceForm.typeConge" class="form-control" #champ3="ngModel">
                <option value="CONGE_PAYE">Congés payés</option>
                <option value="RTT"> RTT </option>
                <option value="JOUR_FERIE"> Jour Ferié</option>
                <option value="CONGE_SANS_SOLDE"> Congé sans solde </option>
            </select>

    </div>

    <div class="form-group">
        <label for="motif">Motif de l'absence</label>
        <div>
            <input type="text" class="form-control" id="motif"  name="motif" placeholder="Facultatif" [(ngModel)]="absenceForm.commentaireAbsence" #champ4="ngModel" 
           [required]="checkStatus()">
        </div>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="champ3.dirty && champ4.invalid">>
        <span>Le champ "Motif de l'absence" doit être rempli</span>
    </div>

    <button *ngIf="modeModification"  type="submit" class="btn btn-primary"> Modifier cette absence </button>
    <button *ngIf="!modeModification" type="submit" class="btn btn-primary">Demander cette absence</button>
    <button (click)="f.resetForm({})" class="btn btn-danger ml-2">Annuler</button>
</form>