<div class="container m-auto">
    <div class="col-12 mt-4 mb-5">
        <div class="text-center text-info">
            <h1>Validation des demandes</h1>
        </div>
    </div>
    <div class="text-center">
        <img style="height:5em"
        src="https://img.freepik.com/vecteurs-libre/ordinateur-portable-ayant-approuve-notification-validation-coche-fonctionnement-reussie_123447-108.jpg?size=338&ext=jpg">
    </div>
    <table class="table table-striped">
        <thead>
            <tr class="text-primary">
                <th scope="col">Date de début</th>
                <th scope="col">Date de fin</th>
                <th scope="col">Type</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let abs of listeAllAbsenceEnAttente">
                <td>{{abs.datePremierJourAbsence}}</td>
                <td>{{abs.dateDernierJourAbsence}}</td>
                <td>{{abs.typeConge}}</td>
                <td>{{abs.nomDemandeur}}</td>
                <td>{{abs.prenomDemandeur}}</td>
                <td><button class="btn btn-success mr-3" (click)="valider(abs)">Valider</button>
                   <button class="btn btn-danger" (click)="refuser(abs)">Refuser</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>