<app-selectbar (selectionPicked)="getForm($event)" [(selectBar)]="selectBar"></app-selectbar>

<div class="container m-auto">
    <div class="col-6">
        <div class="text-center">
            <h1>Vue par département par jour et par collaborateur</h1>
        </div>
    </div>
    <div class="container">
        <!-- <app-selectbar [(vueParJour)]="vueParJour"></app-selectbar> -->
    </div>
    
</div>
        <table class="table table-bordered " *ngIf="departementVueTab != undefined">
            <thead>
                <tr>
                    <th *ngFor="let jour of counter(joursMaxMois); let i = index" scope="col">
                        <span *ngIf="i > 0">{{ i }}</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let objet of departementVueTab; let indexDepartement = index;">
                    <td *ngFor="let jour of counter(joursMaxMois); let indexColonne = index" scope="col">
                        <span  >
                            <th *ngIf="indexColonne === 0" scope="row">{{ objet.nomCollegue }}</th>
                            <span *ngFor="let jour of objet.tableauJours">
                                <span *ngIf="jour === indexColonne">{{ objet.typeCongePremiereLettre }}</span>
                            </span>
                        </span>
                        
                    </td>
                </tr>
            </tbody>
        </table>