<div class="container m-auto">
    <div class="col-12 mt-4 ">
        <div class="text-center text-info">
            <h1>Vues Synthétiques</h1>
        </div>
        <div class="text-center">
          <img style="height:5em"
          src="https://media.istockphoto.com/vectors/search-line-icon-enlarge-and-exploration-magnifying-glass-sign-vector-vector-id1080183206?k=6&m=1080183206&s=170667a&w=0&h=R2SKBUitJOW63z25XHyFvon4tjQUnhaVRP0piD9xs5E=">
          <img style="height:5em"
          src="https://previews.123rf.com/images/muuraa/muuraa1404/muuraa140400009/27295433-croquis-de-l-histogramme-sur-fond-blanc-isol%C3%A9.jpg">
      </div>
        <div class="row mt-4">
            <table class="table table-bordered">
                <thead>
                <tr>
                  <th scope="col">Liste des rapports</th>
                  <th scope="col"></th>

                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">Vue par département par jour et par collaborateur</th>
                  <td>
                   <fa-icon routerLink="departement-collaborateur" [icon]="faEye"></fa-icon>
                  </td>
                </tr>
                <tr>
                    <th scope="row">Histogramme par département et par jour</th>
                    <td>
                        <fa-icon routerLink="histogramme" [icon]="faEye"></fa-icon>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>