 <!--NAVBAR -->
 <div class="container-fluid p-0">
    <nav
      ngbNav
      #nav="ngbNav"
      class="navbar"
      [activeId]="route.fragment | async"
    >
      <div class="container">
        <div *ngIf="collegueConnecte | async as col" >
          <div class="d-flex" *ngIf="roleUtilisateur === 'collegue' || roleUtilisateur === 'admin'; else elseBlock">
            <div *ngFor="let link of linksCollegueEtAdmin">
              <!-- HOME -->
              <a
                ngbNavItem
                class="ml-3 fade-page text-light"
                ngbNavLink
                [routerLink]="link.fragment"
                >{{ link.title }}</a>
              <!-- Collapsable-->
              <!-- CONNEXION/INSCRIPTION -->
            </div>
          </div>
          <ng-template #elseBlock>
  
            <div class="d-flex">
              <div  *ngFor="let link of links">
                <!-- HOME -->
                <a
                  ngbNavItem
                  class="ml-3 fade-page text-light"
                  ngbNavLink
                  [routerLink]="link.fragment"
                  >{{ link.title }}</a>
                <!-- Collapsable-->
                <!-- CONNEXION/INSCRIPTION -->
              </div>
            </div>
  
          </ng-template>
        </div>
      </div>
      <div [ngbNavOutlet]="nav"></div>
      <div class="align-items-start mt-3">
        <button type="submit" class="btn btn-success bg-light ml-4"><a class="text-dark" href="javascript:history.go(-1)">Retour</a></button>
     </div>
    </nav>
    <!-- Fin Container Nav Bar-->
  </div> 